#nav-bar {
    min-width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    /* margin-left: 30px; */
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#nav-bar > ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#nav-bar ul li {
    color: #4d4e53;
    border-top: 1px solid;
    position: relative;
    width: 100%;
}


#nav-bar ul li a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    cursor: pointer;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8rem;
}